@use '../abstracts/vars' as c;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  overflow: hidden;
  min-height: 100vh;
  font-family: 'Cairo', sans-serif;

  input {
    outline: none;
  }

  main {
    animation: fade 300ms linear;
  }

  #root {
    padding-top: 7rem;
  }

  .custom-swal {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    color: #f2f2f2!important;
    height: 5rem!important;
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }

  }
}


@media screen and (max-width: 1800px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 1400px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  body {
    #root {
      padding-top: 3.5rem;
    }
  }

  html {
    font-size: 16px;
  }
}

