@use '../../scss/abstracts/vars' as c;

main {
  .return-policy {
    background: c.$backgroundLinear;
    .title-return-policy {
      display: flex;
      justify-content: center;
      border-bottom: 2px solid c.$darkViolet;

      h1 {
        color: c.$darkViolet;
        font-family: 'Cairo', sans-serif;
        font-size: 3em;
        font-weight: bold;
      }
    }

    .description-return-policy {
      font-family: 'Cairo', sans-serif;
      flex-direction: column;
      display: flex;
      width: 40%;
      font-size: 1.2em;
      margin: 2%;

      li {
        color: c.$darkViolet;
        padding: 1% 0 1% 2%;
        font-style: italic;
      }

      p {
        color: c.$darkViolet;
        line-height: 150%;
      }
    }
  }
}




@media screen and (max-width: 769px) {
  main {
    .return-policy {
      padding-top: 2em;
      .title-return-policy {
        h1 {
          font-size: 2rem;
        }
      }

      .description-return-policy {
        text-align: center;
        width: 100%;
        padding: 1em;
        font-size: 1rem;
        margin: inherit;
      }
    }
  }
}
