@mixin flex($display, $align, $justify, $direction) {
  display: $display;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin font($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin grid($columns, $gap) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-gap: $gap;
}

