$darkViolet : #7367F0;
$violet : #6A85CA;
$lightViolet : #B6B3D9;
$white : #f2f2f2;
$blue : #7F97D4;
$pink : #EDD4DF;
$lightBlue : #D9E0F7;
$backgroundLinear: linear-gradient(119.74deg, #EDD4DF 9.24%, #D9E0F7 93.53%);
$strongPink: #A66DE9;
$gray: #9EAAAD;
